.login-box{
    margin: 180px auto;

    width: 450px;

    .from-box{
        background: #111;
        margin: 0 0 15px;
        color:#fff;
        padding:60px;
        border-radius: 50px;
        border: 3px solid #F2CB61;
    
        overflow: hidden;
        position: relative;
        cursor: default;
        box-sizing: border-box;    
    }

    .form-body{
        
        
        .logo{
            font-weight: bold;
            padding-bottom: 10px;
            text-align: center;
            color: #fff;
            
        }

        .form-group{
            margin-bottom: 15px;
            //position: relative;
            text-align: center;            
            input{
                width: 100%;
                height: 30px;
                border-radius: 60px;
                font-size: 25px;
            }

            // .validation_input{
            //     width: 70%;
            //     height: 30px;
            //     border-radius: 60px;
            //     font-size: 25px;
            // }
            button{
                width:100%;
                height: 30px;
                border-radius: 60px;
                margin-top: 15px;
            }

            label{
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
                font-weight: 700;
                vertical-align: middle;
                margin-right: 6px;

                b{
                    font-weight: 700;
                }
            }
        }

        .button-area{
            text-align: center;
            
            .in{
                border-radius: 60px;
                border: none;
                background: red;
                color:white;

                width: 100%;
                height: 30px;
                margin-bottom: 5px;
            }

            .up{
                border-radius: 60px;
                border: none;
                background:blue;
                color:white;
    
                width: 100%;
                height: 30px;
                    
                margin-bottom: 5px;
            }
        }
    }
}